@mixin textClasses($_colors: $colors){

    .text {
        &-color {
            @each $colorName in map-keys($_colors) {
                &__#{$colorName} {
                    color: themeColor($colorName, value);
                    @each $variationName in (value, contrast, dark, light) {
                        &--#{$variationName} {
                            color: themeColor($colorName, $variationName);
                        }
                    }
                }
            }
        }
        &-background {
            @each $backgroundColorName in map-keys($_colors) {
                &--#{$backgroundColorName} {
                    background-color: themeColor($backgroundColorName, value);
                }
            }
        }
    }
}

