.Aspect {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 1em;
    position: relative;
}

.aspect {
    width: 300px;
    border: 1px solid red;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}
@media (min-width: 40em) {
    .aspect__name {
        font-size: 24px;
    }
}

.mini-aspects {
    width: 230px;
    width: fit-content;
    position: fixed;

    right: 0;
    top: 1em;

    display: flex;
    flex-flow: row wrap;
}

.mini-aspects__aspect {
    border: 1px solid blue;
    width: 1em;
}

@media (max-width: 640px) {
    .mini-aspects {
        top: initial;
        right: initial;
        bottom: 0;
        width: 100%;
        background-color: lightgray;
        order: -1;
        display: flex;
        justify-content: center;
        padding: 0.5em;
    }
}

@media (min-width: 640px) {
    .mini-aspects {
        margin-top: 74px;
        margin-right: 0.5em;
    }
}
