.Color {
    grid-column: auto / span 3;
    height: 18vmax;
    grid-gap: 0.2em !important;
}


.Color .name {
grid-row: header;
}

.Color .value {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
}

.Color .contrast {
    grid-column: 5 / 9;
    grid-row: 2 / 4;
}

.Color .dark {
    grid-column: 9 / end;
    grid-row: 2 / 3;
}

.Color .light {
    grid-column: 9 / end;
    grid-row: 3 / 4;
}