.Color {
    grid-column: auto / span 3;
    height: 18vmax;
    min-height: 200px;    
    grid-gap: 0.2em !important;
    min-width: 320px;
    max-width: 20em;
}

.Color .color__colorpicker {
    display: none;
}

.color__name {
grid-row: header;
grid-column: 1 / end;
}

.color__value {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    padding: 0.4em;
}

.color__contrast {
    grid-column: 5 / 9;
    grid-row: 2 / 4;
}

.color__dark {
    grid-column: 9 / end;
    grid-row: 2 / 3;
}

.color__light {
    grid-column: 9 / end;
    grid-row: 3 / 4;
}