.Color {
    grid-column: auto / span 3;
    height: 18vmax;
    min-height: 200px;    
    grid-gap: 0.2em !important;
    width: 320px;
}
.Color svg {
    cursor: pointer;
}

.Color .color__colorpicker {
    display: none;
}

.color {
    display: grid;
    padding: 0.3em;
}

.color--value {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
}

.color--contrast {
    grid-column: 5 / 9;
    grid-row: 2 / 4;
}

.color--dark {
    grid-column: 9 / end;
    grid-row: 2 / 3;
}

.color--light {
    grid-column: 9 / end;
    grid-row: 3 / 4;
}


.color__name {
    grid-row: header;
    grid-column: 1 / end;
}

.color__warning {
    flex: 1 1 auto;
    align-self: flex-end;
    padding: 0.4em 0.5em 0.2em 0.5em;
    margin-bottom: 0;

    font-size: 0.5em;
    background-color: white;
    opacity: 0.8;
    color: red;
}

.color-picker__wrapper {
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: drop-shadow(0 2em 1em black);
    display: flex;
}
.color-picker__inner {
    width: 320px;
    width: fit-content;
    background-color: white;
    padding: 0.5em;
    align-self: center;
    display: grid;

}
.color-picker__title {
    text-align: center;
}

.sketch-picker {
    margin-left: auto;
    margin-right: auto;
}


.color-picker__button {
    margin-top: 1em;
    border: none;
    background-color: white;
    padding: 0.3em 0.7em 0.45em;
    font-size: 80%;
    cursor: pointer;
    border: 1px solid black;
}