.Palette {
    display: flex;
    flex-flow: column nowrap;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-content: space-evenly;
}

.palette__header {
    flex: 1 1 100%;
    min-width: 100%;
}

.palette__add {
    margin: 1.5em;
    flex: 1 1 100%;
    text-align: center;
    padding: 1em;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}
