.Palette {
    display: flex;
    flex-flow: column nowrap;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-content: space-evenly;
}

.palette__header {
    flex: 1 1 100%;
    min-width: 100%;
}

.palette__add {
    margin-top: 0.5em;
}