.preview {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &__colors {
        flex: 1 1 auto;
        width: 320px;
        max-width: 30%;
        display: flex;
        flex-flow: column nowrap;
        &--color,
        &--monochrome,
        &--functional {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-bottom: 1em;
        }
    }

    &__color {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__monochrome {
        flex: 1 1 auto;
        width: 30%;
        text-align: center;
    }

    &__functional {
        flex: 1 1 auto;
        width: 50%;
        text-align: center;
    }

    &__typography {
        flex: 1 1 auto;
        width: 320px;
        max-width: 30%;
        text-align: center;
        display: flex;
        //        justify-content: center;
        flex-flow: column nowrap;
    }

    &__sizes {
        flex: 1 1 auto;
        width: 320px;
        max-width: 30%;
    }
}
