.styleguide {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .color {
        min-width: 33%;
    }

    &-color {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2em;

        &__value {
            width: 2em;
            height: 2em;
            border-radius: 50%;
        }
    }
    &-monochrome {
        display: flex;

        &__value {
            flex: 1 1 auto;
            width: 33%;
            height: 2em;
        }
    }
    &-functional {
        display: flex;
        flex-wrap: wrap;

        &__value {
            flex: 1 1 auto;
            width: 50%;
            height: 2em;
        }
    }
}
