@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");
:root {
    font-size: calc(1vw + 1vh + 2vmin);
}

body {
    font-family: "Comfortaa", cursive, serif;
    padding: 0 1vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    max-width: 28em;
}

p {
    margin-bottom: 0.8em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
    grid-template-rows: [header] 2em [body] auto [footer] auto [end];
}

.grid-header {
    grid-row: header;
    grid-column: 1 / span 12;
}

.header__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 -0.5em;
}
.header__nav a {
    padding: 0.2em 0.5em;
}

@media (min-width: 640px) {
    .header__nav {
        padding-right: 0.2em;
    }
}
